body {
  /*background-image: url('ship.jpg');*/
  background-color: black;
  
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;

}
.para{
  position: relative;
  top: 40px;
   color:#fff;
   text-align: center;
}
div#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url("radar.png") no-repeat center;
  background-size: contain;  /* Ensures the entire image fits within the div */

  overflow: hidden;  /* Optional: hides any overflow if the image slightly exceeds */
}
div#messageArea{
  position:absolute;
  left: 0px;
  right: 0px;
  top: 30px;
  color: rgb(83, 175, 19);
  font-size: 30px;
}
table {
position:absolute;
left: 149px;
top: 98px;
border-spacing: 0px;
color: rgb(83, 175, 19);

}
td {
  width: 94px;
  height: 94px;
 
}
.label {
    background-color: #000;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    
}

form{
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}
form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}
.hit{
  background: url("shipy.png") no-repeat center center;
  background-size: contain;
}
.miss{
  background: url("miss.png") no-repeat center center;
  background-size: contain;
}
